.header {
    margin-top: 3rem;
    padding: 0 5%;
    text-align: center;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    .header__title {
        margin: 0 0 3rem;
        font-size: 3rem;
        background-color: var(--color-primary);
        padding: 1rem 2.5rem;
        font-weight: bold;
    }
}